body {
  background-image: url("../public/Img/eneko-urunuela-I2YSmEUAgDY-unsplash (1).jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

html {
  height: 100%;
}

.App {
  text-align: center;
}



