.registration {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}

.form {
  width: 50%;
  /* background: rgba(0, 0, 0, 0.2); */
  background-color: rgba(255,255,255,0.1);
  /* background-color: transparent; */
  /* box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19); */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19); */
  padding: 30px;
  margin: 70px;
  text-align: center;
}

h1 {
  font-family: 'Gotu', sans-serif;
}

.registered-Not-registered {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  /* color: navy; */
  /* color: rgb(61, 221, 181); */
  /* color: rgb(52, 120, 160); */
  color: lightblue;
}

.passwordRules {
  color: black;
  text-align: left;
  margin: 0;
}

.form a {
  /* color: navy; */
  /* color: rgb(61, 221, 181); */
  /* color: rgb(52, 120, 160); */
  color: lightblue;
}

.checkbox {
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-weight: 400;
  text-align: left;
}

.checkbox:checked {
  background-color: rgba(255,255,255,0.7);
}

.checkbox:focus {
    box-shadow: none;
    background-color: rgba(255,255,255,0.7);
  }

.btn {
  background-color:rgb(255, 255, 255);
  margin: 20px 0 20px 0;
  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Gotu', sans-serif;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn:focus {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn:hover {
  background-color: lightblue;
}

.errorMessage,
.errorMessage-2 {
  font-family: 'Open Sans', sans-serif;
  /* color: #EE4E34; */
  color: black;
  /* background-color: rgba(255,255,255,0.7); */
}

.errorMessage {
  text-align: left;
}

.errorMessage-2 {
  text-align: center;
}

.form-input {
  background-color: rgba(255,255,255,0.4);
  border: none;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
}

.form-input:focus {
  box-shadow: none;
  background-color: rgba(255,255,255,0.7);
}

@media screen and (max-width: 800px) {
  .errorMessage,
  .errorMessage-2 {
    color: white;
  }

  .form-input::placeholder {
    color: rgb(83, 83, 83);
  }

  .form {
    width: 80%;
    margin: 10px;
    padding: 20px;
  }

  .checkbox {
    color: white;
  }

}